<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name = "commonMethods_reusableComponents.ListenersImplementation" />
 </listeners> 
  <test thread-count="5" name="Test">
    <classes>
   <!--  -->   <class name="insuranceCalculation_Motorcycle.ErrorTests_motorcycle"/>
   <class name="insuranceCalculation_Motorcycle.EndToEndTests_motorcycle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
